@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f5f2;
  /* park-bg */
  color: #2e3a31;
  /* park-charcoal */
  font-family: 'Libre Franklin', sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-park-sage text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-opacity-90 transition-all text-lg;
  }

  .btn-secondary {
    @apply bg-park-navy text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-opacity-90 transition-all text-lg;
  }

  .card {
    @apply bg-white rounded-xl shadow-lg p-6 border border-gray-100;
  }
}